<section class="content">
  <app-chat-message
    *ngFor="let m of messages$ | async"
    [message]="m" [isFromSender]="m.sender.id === authService.authUser.id">
  </app-chat-message>
</section>

<mat-toolbar color="accent" class="footer">
  <mat-toolbar-row>
    <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Digite sua mensagem..." class="input-chat">
    <span class="spacer"></span>
    <button mat-icon-button (click)="sendMessage()">
      <mat-icon color="primary">send</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
